<fieldset class="product-purchase-link">
  <legend>{{ data.description_head }}</legend>
  <p>{{ data.description }}</p>
  <img title="{{ data.title }}" alt="{{ data.title }}" width="{{ data.width }}" height="{{ data.height }}" src="{{ data.purchase_link }}" />
</fieldset>